@import "tailwindcss";

@layer utilities {
  .text-glow {
    text-shadow: 0 0 20px rgba(168, 85, 247, 0.4);
  }
}

body {
  margin: 0;
  background-color: #f8fafc;
  /* Slate 50 */
}

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}